<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add  providerName="SqlDataProvider" connectionString="server=.;uid=sa;pwd=szy23133;database=Klkl"  name="DefaultConnection"/>-->
    <add  providerName="SqlDataProvider" connectionString="server=121.40.171.181;uid=sa;pwd=szy23133;database=Klkl"  name="DefaultConnection"/>
  </connectionStrings>
</configuration>