<div ng-controller="ChdCtrl as table" class="container-fluid">
    <!-- Row Select Example-->
<div class="panel panel-default" >
    <div align="center">
        <h2 style="font-family: 隶书">可伶可俐食品出货单</h2>
    </div>
    <table width="90%">
        <tr>
            <td style="float: left;">日期：{{date()}} </td>
            <td>
                客户名称：{{Order.Khmc}}
            </td>
            <td style="float: right;">
                发货单号：{{Order.OrderID}}
            </td>

        </tr>
    </table>
    <table ng-table="table.tableParams3" class="table table-bordered">
        <tr ng-repeat="order in $data">
            <td data-title="'序号'">{{order.Xh}}</td>
            <td data-title="'品名'">{{order.Category+order.Name}}</td>
            <td data-title="'规格'">{{order.Size}}</td>
            <td data-title="'订货数量'">{{order.Num}}</td>
            <td data-title="'搭赠'">{{order.Dz}}</td>
            <td data-title="'单价'">{{order.Price}}</td>
            <td data-title="'订货金额'">{{order.Amount}}</td>
            <td data-title="'搭赠金额'">{{(order.Dz*order.Price)}}</td>
            <td data-title="'含搭赠发货总金额'">{{floatplus(order.Amount,(order.Dz*order.Price))}}</td>
            
           
            <td data-title="'(含片)订货金额'">{{order.Type==2? order.Amount:0}}</td>
            <td data-title="'(含片)搭赠金额'">{{order.Type==2? (order.Dz*order.Price):0}}</td>
            <td data-title="'(含片)含搭赠发货总金额'">{{order.Type==2? floatplus(order.Amount,(order.Dz*order.Price)):0}}</td>
     

            <td data-title="'到付运费'">{{order.Fare}}</td>
            <td data-title="'实汇金额'">{{order.Shje}}</td>
            <td data-title="'备注'">{{order.Remark}}</td>
        </tr>
        <tr>
            <td>合计金额<br/>（大写）：</td>
            <td colspan="2">{{NumDx(sum(Order.OrderGoodses,'Amount'))}}</td>
            <td>{{sum(Order.OrderGoodses,'Num')}}</td>
            <td>{{sum(Order.OrderGoodses,'Dz')}}</td>
            <td></td>
            <td>{{sum(Order.OrderGoodses,'Amount')}}</td>
            <td>{{DzAmount(Order.OrderGoodses)}}</td>
            <td>{{floatplus(sum(Order.OrderGoodses,'Amount'),DzAmount(Order.OrderGoodses))}}</td>
            <!--含片-->
            <td>{{Hpzhje(Order.OrderGoodses)}}</td>
            <td>{{Hpdzje(Order.OrderGoodses)}}</td>
            <td>{{floatplus( Hpzhje(Order.OrderGoodses),Hpzhje(Order.OrderGoodses))}}</td>
            <!--含片-->
            <td>{{sum(Order.OrderGoodses,'Fare')}}</td>
            <td>{{sum(Order.OrderGoodses,'Shje')}}</td>
            <td>{{SumRemark(Order.OrderGoodses)}}</td>
        </tr>
    </table>
    <table class="table">
        <tr><td colspan="4"> {{Order.Remark}}</td></tr>
        <tr><td></td><td style="width: 300px;">联系电话:0572-8220318</td><td style="width: 180px;">出货人：</td><td style="width: 180px;">承运人：</td></tr>
    </table>
    <div class="noPrint">
        <div class="panel-heading">
            <input type="submit" value="打印" ng-click="print()" class="btn btn-primary" />
        </div>
    </div>
</div>
 </div>




    <script>
        function preview(oper) {
            if (oper < 10) {
                bdhtml = window.document.body.innerHTML;//获取当前页的html代码
                sprnstr = "<!--startprint" + oper + "-->";//设置打印开始区域
                eprnstr = "<!--endprint" + oper + "-->";//设置打印结束区域
                prnhtml = bdhtml.substring(bdhtml.indexOf(sprnstr) + 18); //从开始代码向后取html

                prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));//从结束代码向前取html
                window.document.body.innerHTML = prnhtml;
                window.print();
                window.document.body.innerHTML = bdhtml;

            }
            else {
                window.print();
            }

        }
    </script>
    <style>
        @media Print {
            .noPrint {
                DISPLAY: none;
            }

            .ng-table-pager {
                display: none;
            }
        }
    </style>
