<div ng-controller="OrderController">
    <h3>{{Order.OrderID}}</h3>
    <div class="panel">
        <tabset justified="true">
            <tab>
                <tab-heading>
                    {{Order.ID>0?"编辑":"新增"}}订单
                </tab-heading>
                <div>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label">订单号:</label>
                            <div class="col-md-10">
                                <input type="text" placeholder="" class="form-control" ng-model="Order.OrderID"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label">客户渠道:</label>
                            <div class="col-md-10">
                                <input type="text" placeholder="" class="form-control" ng-model="Order.Khqd" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label">客户名称:</label>
                            <div class="col-md-10">
                                <select class="form-control"
                                        ng-options="option.Khmc for option in Customers track by option.ID" ng-model="SelectKhmc">
                                    <!--<option value="">--选择--</option>-->
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label">联系人:</label>
                            <div class="col-md-10">
                                <input type="text" placeholder="" class="form-control" ng-model="Order.Lxr"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label">联系电话:</label>
                            <div class="col-md-10">
                                <input type="text" placeholder="" class="form-control" ng-model="Order.Lxdh" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label">区域:</label>
                            <div class="col-md-10">
                                <input type="text" placeholder="" class="form-control" ng-model="Order.AreaName"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label">送货地址:</label>
                            <div class="col-md-10">
                                <input type="text" placeholder="" class="form-control" ng-model="Order.Shdz"/>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label">是否需要审批:</label>
                            <div class="col-md-10">
                                <div class="alert alert-warning" role="alert">   <input type="checkbox" ng-model="Order.NeedSP"/> &nbsp;&nbsp;&nbsp;需要审批的订单在审批完成后流转到发货账号.</div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label">备注:</label>
                            <div class="col-md-10">
                                <textarea cols="5" placeholder="" class="form-control" ng-model="Order.Remark" style="margin-top: 0px; margin-bottom: 0px; height: 56px;"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="container-fluid" ng-show="Response.Goods.ID>0">
                    <!-- Editable row-->
                    <h4 class="page-header">订单商品</h4>
                    <table class="table table-bordered table-hover bg-white">
                        <tr style="font-weight: bold">
                            <td style="width: 20%">产品系列</td>
                            <td style="width: 20%">产品名称</td>
                            <td style="width: 10%">规格</td>
                            <td style="width: 5%">数量(箱)</td>
                            <td style="width: 5%">搭赠(箱)</td>
                            <td style="width: 5%">单价(元)</td>
                            <td style="width: 5%">金额(元)</td>
                            <td style="width: 5%">到付运费</td>
                            <td style="width: 5%">实汇金额</td>
                            <td style="width: 20%">备注</td>
                        </tr>
                        <tr ng-repeat="orderGoods in OrderGoodses">

                            <td>
                                <span editable-select="orderGoods.GoodsID"  e-name="type" e-form="rowform" e-ng-options="m.ID as m.Name for m in Goodses">{{ showGoods(orderGoods) }}</span>
                            </td>
                            <td>
                                <span editable-select="material.MaterialID" e-name="material" e-form="rowform" e-ng-options="s.ID as s.Name for s in  (MaterialTypes|filter:{'ID':rowform.$data.type})[0].Materials">{{ showMaterial(material) }}</span>
                            </td>
                            <td>
                                <span editable-text="material.Num" e-name="num" e-form="rowform" e-required="">{{ material.Num || 0 }}</span>
                            </td>
                            <td style="white-space: nowrap">
                                <!-- form-->
                                <form editable-form="" name="rowform" onbeforesave="saveMaterial()" ng-show="rowform.$visible" shown="inserted == material" class="form-buttons form-inline">
                                    <button type="submit" ng-disabled="rowform.$waiting" title="Save" class="btn btn-sm btn-info">
                                        <em class="fa fa-save"></em>
                                    </button>
                                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" title="Cancel" class="btn btn-sm btn-default">
                                        <em class="fa fa-times"></em>
                                    </button>
                                </form>
                                <div ng-show="!rowform.$visible" class="buttons">
                                    <button ng-click="rowform.$show()" title="Edit" class="btn btn-sm btn-info">
                                        <em class="fa fa-pencil"></em>
                                    </button>
                                    <button ng-click="removeMaterial($index)" title="Delete" class="btn btn-sm btn-danger">
                                        <em class="fa fa-trash"></em>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <button type="button" class="btn btn-labeled btn-success" ng-click="addMaterial()">
                        <span class="btn-label">
                            <i class="fa fa-plus"></i>
                        </span>添加商品
                    </button>
                </div>
            </tab>
            <tab>
                <tab-heading>材料配置</tab-heading>
                <div>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Title</label>
                            <div class="col-md-10">
                                <input type="text" placeholder="Brief description.." class="form-control" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Description</label>
                            <div class="col-md-10">
                                <textarea rows="5" placeholder="Max 255 characters..." class="form-control"></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Keywords</label>
                            <div class="col-md-10">
                                <textarea rows="5" placeholder="Max 1000 characters..." class="form-control"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </tab>
            <tab>
                <tab-heading>产品图片</tab-heading>
                <div>
                    <div class="row mb-lg">
                        <div class="col-xs-3">
                            <strong>Preview</strong>
                        </div>
                        <div class="col-xs-9">
                            <strong>Details</strong>
                        </div>
                    </div>
                    <div class="row mb-lg pb-lg bb">
                        <div class="col-xs-6 col-sm-3">
                            <a href="#" title="Product 1">
                                <img src="app/img/bg7.jpg" alt="Product 1" class="img-responsive" />
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-9">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" placeholder="Brief description.." class="form-control" />
                                </div>
                            </fieldset>
                            <p>
                                <strong>Picture type</strong>
                            </p>
                            <div class="radio c-radio c-radio-nofont">
                                <label>
                                    <input type="radio" name="prod1-pic" value="option1" checked="" />
                                    <span></span>Primary
                                </label>
                            </div>
                            <div class="radio c-radio c-radio-nofont">
                                <label>
                                    <input type="radio" name="prod1-pic" value="option2" />
                                    <span></span>Thumbnail
                                </label>
                            </div>
                            <div class="radio c-radio c-radio-nofont">
                                <label>
                                    <input type="radio" name="prod1-pic" value="option3" />
                                    <span></span>Gallery
                                </label>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-sm btn-danger">
                                    <em class="fa fa-times-circle fa-fw"></em>Remove
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-lg pb-lg bb">
                        <div class="col-xs-6 col-sm-3">
                            <a href="#" title="Product 2">
                                <img src="app/img/bg8.jpg" alt="Product 1" class="img-responsive" />
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-9">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" placeholder="Brief description.." class="form-control" />
                                </div>
                            </fieldset>
                            <p>
                                <strong>Picture type</strong>
                            </p>
                            <div class="radio c-radio c-radio-nofont">
                                <label>
                                    <input type="radio" name="prod2-pic" value="option1" checked="" />
                                    <span></span>Primary
                                </label>
                            </div>
                            <div class="radio c-radio c-radio-nofont">
                                <label>
                                    <input type="radio" name="prod2-pic" value="option2" />
                                    <span></span>Thumbnail
                                </label>
                            </div>
                            <div class="radio c-radio c-radio-nofont">
                                <label>
                                    <input type="radio" name="prod2-pic" value="option3" />
                                    <span></span>Gallery
                                </label>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-sm btn-danger">
                                    <em class="fa fa-times-circle fa-fw"></em>Remove
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-lg pb-lg">
                        <div class="col-xs-6 col-sm-3">
                            <a href="#" title="Product 3">
                                <img src="app/img/bg10.jpg" alt="Product 1" class="img-responsive" />
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-9">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" placeholder="Brief description.." class="form-control" />
                                </div>
                            </fieldset>
                            <p>
                                <strong>Picture type</strong>
                            </p>
                            <div class="radio c-radio c-radio-nofont">
                                <label>
                                    <input type="radio" name="prod3-pic" value="option1" checked="" />
                                    <span></span>Primary
                                </label>
                            </div>
                            <div class="radio c-radio c-radio-nofont">
                                <label>
                                    <input type="radio" name="prod3-pic" value="option2" />
                                    <span></span>Thumbnail
                                </label>
                            </div>
                            <div class="radio c-radio c-radio-nofont">
                                <label>
                                    <input type="radio" name="prod3-pic" value="option3" />
                                    <span></span>Gallery
                                </label>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-sm btn-danger">
                                    <em class="fa fa-times-circle fa-fw"></em>Remove
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
    <div class="text-right mt-lg">
        <button type="button" ng-click="cancel()" class="btn btn-warning">放弃</button>
        <button type="button" ng-click="saveMaterial()" class="btn btn-success">保存</button>
    </div>
</div>
