

    <div class="panel-body">
        <div ng-controller="CustomersController as table" class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <button type="submit" class="btn btn-labeled btn-success" ng-click="new()">

                            <span class="btn-label">
                                <em class="fa fa-plus"></em>
                            </span>新增

                        </button>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <input placeholder="搜索" type="text" ng-model="quickFilterText" class="mb form-control" />
                        </div>
                    </div>
                </div>
            
                <table ng-table="table.tableParams5" class="table table-bordered table-striped">
                    <tbody>
                    <tr ng-repeat="customer in $data|filter:quickFilterText">
                        <td data-title="'区域'" sortable="'Qy'">{{customer.Qy}}</td>
                        <td data-title="'客户渠道'" sortable="'Khqd'">{{customer.Khqd}}</td>
                        <td data-title="'客户名称'" sortable="'Khmc'">{{customer.Khmc}}</td>
                        <td data-title="'联系人'" sortable="'Lxr'">{{customer.Lxr}}</td>
                        <td data-title="'联系电话'" sortable="'Lxdh'">{{customer.Lxdh}}</td>
                        <td data-title="'送货地址'" sortable="'Shdz'">{{customer.Shdz}}</td>

                        <td data-title="''" nowrap="nowrap">
                            <button type="button" ng-click="edit(customer)" class="btn btn-sm btn-info" title="修改">
                                <em class="fa fa-edit"></em>
                            </button>
                            <button type="button" ng-click="remove($index,customer.ID)" class="btn btn-sm btn-danger" title="删除">
                                <em class="fa fa-trash-o"></em>
                            </button>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <script type="text/ng-template" id="modalDialogId">
                <div class="ngdialog-message"><h3>确定要删除吗?</h3><p>删除后不可恢复!</p><button type="button" ng-click="confirm()" class="btn btn-primary mr">确认</button><button type="button" ng-click="closeThisDialog('button')" class="btn btn-default">取消</button></div>
            </script>
            <script type="text/ng-template" id="modalDialogId2">
                <div class="ngdialog-message">
                    <h3>{{ec.ID>0?'修改':'新增'}}</h3>
                    <form class="form-horizontal ng-pristine ng-valid">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">区域</label>
                            <div class="col-lg-9">
                                <input type="text" placeholder="区域" ng-model="ec.Qy" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">客户渠道</label>
                            <div class="col-lg-9">
                                <input type="text" placeholder="客户渠道" ng-model="ec.Khqd" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">客户名称</label>
                            <div class="col-lg-9">
                                <input type="text" placeholder="客户名称" ng-model="ec.Khmc" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">联系人</label>
                            <div class="col-lg-9">
                                <input type="text" placeholder="联系人" ng-model="ec.Lxr" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">联系电话</label>
                            <div class="col-lg-9">
                                <textarea  placeholder="联系电话" ng-model="ec.Lxdh" class=" mb-lg form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">送货地址</label>
                            <div class="col-lg-9">
                                <textarea cols="9" class="mb-lg form-control" ng-model="ec.Shdz" placeholder="送货地址"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="button" ng-click="confirm(confirmValue)" class="btn btn-primary mr">确定</button>
                                <button type="button" ng-click="closeThisDialog('button')" class="btn btn-default">取消</button>
                            </div>
                        </div>
                    </form>              
                </div>              
            </script>
    </div>
</div>

