<h3>人员管理</h3>

<div class="panel panel-default" ng-controller="UsersController as table">
    <div class="panel-heading">
        <div class="form-group">
            <button type="submit" class="btn btn-labeled btn-success" ng-click="new()">

                <span class="btn-label">
                    <em class="fa fa-plus"></em>
                </span>新增

            </button>
        </div>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <table ng-table="table.tableParams5" class="table table-bordered table-striped">
                <tbody>
                <tr ng-repeat="user in $data">
                    <td data-title="'姓名'" sortable="'DisplayName'">{{user.DisplayName}}</td>
                    <td data-title="'账号'" sortable="'UserName'">{{user.UserName}}</td>
                    <td data-title="'角色'" sortable="'Roles'"><span class="tag label label-info" ng-repeat="role in user.Roles">{{role}}</span></td>
                    <td data-title="'权限'" sortable="'Permissions'">
                        <div class="label label-info" ng-repeat="per in user.Permissions">{{per}}</div></td>
                    <td data-title="'状态'">

                        {{user.LockedDate && user.LockedDate>date?'已禁用':'正常'}}
                    </td>
                    <td data-title="'操作'" nowrap="nowrap">
                        <button type="button" ng-click="viewUser(user.Id)" class="btn btn-sm btn-info" title="查看">
                            <em class="fa fa-search"></em>
                        </button>
                        <button type="button" ng-click="lockUser(user)" class="{{user.LockedDate?'btn btn-sm btn-danger':'btn btn-sm btn-success'}}" title="{{user.LockedDate?'解锁':'禁用'}}">
                            <em class="{{user.LockedDate?'fa fa-lock':'fa fa-unlock'}}"></em>
                        </button>
                        <button type="button" ng-click="removeUser($index,user.Id)" class="btn btn-sm btn-danger" title="删除">
                            <em class="fa fa-trash-o"></em>
                        </button>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/ng-template" id="modalDialogId2">
        <div class="ngdialog-message">
            <h3>新增用户</h3>
            <form class="form-horizontal ng-pristine ng-valid">
                <div class="form-group">
                    <label class="col-lg-3 control-label">中文名</label>
                    <div class="col-lg-9">
                        <input type="text" placeholder="中文名" ng-model="ec.DisplayName" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">登录账号</label>
                    <div class="col-lg-9">
                        <input type="text" placeholder="登录账号" ng-model="ec.UserName" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="button" ng-click="confirm(confirmValue)" class="btn btn-primary mr">确定</button>
                        <button type="button" ng-click="closeThisDialog('button')" class="btn btn-default">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </script>
</div>